html,body {margin:0px;height:100%;overflow-x:hidden;background-color:#EEE;}
.jvectormap-label{color: transparent;position: absolute;}
.left-menu{padding:0px;background-color:#888}
.left-menu a{color:#FFFFFF;}
.div-full{height:100%;overflow:hidden;}